@model OtherSquare.ViewModels.LMS_Flashcards
@using OtherSquare.ViewModels;
@using Newtonsoft.Json;

@{
    string expandCollapse = Model.Settings.CategoryAccordionExpanded ? "expanded" : "collapsed";
    string unarchive = (bool)Model.Settings.IncludeArchive ? "" : "hide";
}

<div class="section">
    <div class="section-title-bar category-section @expandCollapse">
        <div class="section-title">
            <span class="expand-collapse setting" data-behavior="click" name="CategoryAccordionExpanded">+/-</span>Categories
        </div>
        <div class="section-controls category-section @expandCollapse">
            <button id="archiveCategory" class="archive" data-type="category">Archive Selected</button>
            <button id="unarchiveCategory" class="unarchive @unarchive" data-type="category">Unarchive Selected</button>
            <button id="newCategory">New</button>
        </div>
    </div>
    <div class="section-content category-section @expandCollapse">
        <div class="item-list">
            <div class="item-list-title-bar">
                <div>Title</div>
                <div>Score</div>
            </div>
            <div id="categoryList" class="item-list-content" data-type="category">
                @{
                    foreach (ListItemViewModel i in Model.Categories.CategoryList)
                    {
                        @Html.Partial("_LMS_FlashCards_ListItem", i)
                    }
                }
            </div>
        </div>
        <div class="title-edit">
            <div class="title-label">Title</div>
            <input id="categoryTitle" type="text" data-guid="@Model.Settings.SelectedCategoryGuid" value="@Model.Settings.SelectedCategoryTitle" />
            <button id="saveCategory">Save</button>
        </div>
    </div>
</div>