@model OtherSquare.ViewModels.NAV_FlashCardViewModel
@using OtherSquare.ViewModels;
@using Newtonsoft.Json;

@{
    string expandCollapse = Model.Settings.FlashcardAccordionExpanded ? "expanded" : "collapsed";
}
<div class="section">
    <div class="section-title-bar flashcard-section @expandCollapse">
        <div class="section-title">
            <span class="expand-collapse setting" data-behavior="click" name="FlashcardAccordionExpanded">+/-</span>Flashcards
        </div>
        <div class="section-controls flashcard-section @expandCollapse">
            <button id="deleteFlashcards">Delete Selected</button>
            <button id="newFlashcard">New</button>
        </div>
    </div>
    <div class="section-content flashcard-section @expandCollapse">
        <div class="item-list">
            <div class="item-list-title-bar">
                <div>Title</div>
                <div>Score</div>
            </div>
            <div id="flashcardList" class="item-list-content" data-type="flashcard">
                @{
                    foreach (ListItemViewModel i in Model.FlashcardViewModel.FlashcardList)
                        {
                            @Html.Partial("_LMSFlashCards_ListItem", i)
                        }
                }
            </div>
        </div>
        <div class="title-edit">
            <div class="title-label">Title</div>
            <input id="flashcardTitle" type="text" value="@Model.Settings.SelectedFlashcardTitle" />
            <button id="saveFlashcard">Save</button>
        </div>
        <div class="qa">
            <div class="q qa-label">Question:</div>
            <div class="a">
                <textarea id="question">@Model.Settings.SelectedFlashcardQuestion</textarea>
            </div>
        </div>
        <div class="qa">
            <div class="q qa-label">Answer:</div>
            <div class="a">
                <textarea id="answer">@Model.Settings.SelectedFlashcardAnswer</textarea>
            </div>
        </div>
    </div>
</div>