@model OtherSquare.ViewModels.NAV_FlashCardViewModel
@using OtherSquare.ViewModels;
@using Newtonsoft.Json;

@{
    if (Model.Settings.SelectedFlashcard == null) { Model.Settings.SelectedFlashcard = new OtherSquare.Models.FlashCard(); };
    string expandCollapse = Model.Settings.FlashcardAccordionExpanded ? "expanded" : "collapsed";

}
<div class="section">
    <div class="section-title-bar flashcard-section @expandCollapse">
        <div class="section-title">
            <span class="expand-collapse setting" data-behavior="click" name="FlashcardAccordionExpanded">+/-</span>Flashcards
        </div>
        <div class="section-controls flashcard-section @expandCollapse">
            <button>Delete Selected</button>
            <button class="button-new" data-type="flashcard">New</button>
        </div>
    </div>
    <div class="section-content flashcard-section @expandCollapse">
        <div class="item-list">
            <div class="item-list-title-bar">
                <div>Title</div>
                <div>Score</div>
            </div>
            <div id="flashcardList" class="item-list-content" data-type="flashcard">
                @{
                    @*foreach (ListItemViewModel i in Model.FlashcardList)
                        {
                            @Html.Partial("_LMSFlashCards_ListItem", i)
                        }*@
                }
            </div>
        </div>
        <div class="title-edit">
            <div class="title-label">Title</div>
            <input id="flashcardTitle" class="title-input" type="text" value="@Model.Settings.SelectedFlashcard.Title" />
            <button id="saveSubject" class="button-save" data-type="flashcard">Save</button>
        </div>
        <div class="qa">
            <div class="q qa-label">Question:</div>
            <div class="a">
                <textarea id="question" class="title-input">@Model.Settings.SelectedFlashcard.Question</textarea>
            </div>
        </div>
        <div class="qa">
            <div class="q qa-label">Answer:</div>
            <div class="a">
                <textarea id="answer" class="title-input">@Model.Settings.SelectedFlashcard.Answer</textarea>
            </div>
        </div>
    </div>
</div>

<script>
    if (typeof settingsObj !== "undefined") {
        settingsObj["SelectedFlashcard"] = @Html.Raw(JsonConvert.SerializeObject(Model.Settings.SelectedFlashcard));
        logger.log("PartialView Flashcards loaded. settingsObj = " + JSON.stringify(settingsObj));
        LMS();
    }
</script>