@model OtherSquare.ViewModels.NAV_FlashCardViewModel
@using OtherSquare.ViewModels;
@using Newtonsoft.Json;

@{
    if (Model.Settings.SelectedCategory == null) { Model.Settings.SelectedCategory = new OtherSquare.Models.Category(); };
    string expandCollapse = Model.Settings.CategoryAccordionExpanded ? "expanded" : "collapsed";
    string unarchive = (bool)Model.Settings.IncludeArchive ? "" : "hide";
}

<div class="section">
    <div class="section-title-bar category-section @expandCollapse">
        <div class="section-title">
            <span class="expand-collapse setting" data-behavior="click" name="CategoryAccordionExpanded">+/-</span>Categories
        </div>
        <div class="section-controls category-section @expandCollapse">
            <button class="category">Archive Selected</button>
            <button class="category unarchive @unarchive">Unarchive Selected</button>
            <button class="category button-new" data-type="category">New</button>
        </div>
    </div>
    <div class="section-content category-section @expandCollapse">
        <div class="item-list">
            <div class="item-list-title-bar">
                <div>Title</div>
                <div>Score</div>
            </div>
            <div class="item-list-content">
                @{
                    foreach (ListItemViewModel i in Model.CategoryViewModel.CategoryList)
                    {
                        @Html.Partial("_LMSFlasshCards_ListItem", i)
                    }
                }
            </div>
        </div>
        <div class="title-edit">
            <div class="title-label">Title</div>
            <input id="categoryTitle" class="category title-input" type="text" data-type="category"/>
            <button class="category button-save" data-type="category">Save</button>
        </div>
    </div>
</div>

<script>
    if (typeof settingsObj !== "undefined") {
        settingsObj["SelectedCategory"] = @Html.Raw(JsonConvert.SerializeObject(Model.Settings.SelectedCategory));
        logger.log("PartialView Categories loaded. settingsObj = " + JSON.stringify(settingsObj));
        LMS();
    }
</script>