@model OtherSquare.ViewModels.LMS_Flashcards
@using Newtonsoft.Json;

@Html.Partial("_LMSSubMenu")

<div class="area-container">
    <div id="settings">
        @Html.Partial("_LMS_Flashcards_Settings", Model.Settings)
    </div>
    <div id="subjects">
        @Html.Partial("_LMS_Flashcards_Subjects", Model)
    </div>
    <div id="categories">
        @Html.Partial("_LMS_Flashcards_Categories", Model)
    </div>
    <div id="flashcards">
        @Html.Partial("_LMS_Flashcards_Flashcards", Model)
    </div>
</div>

@Scripts.Render("~/bundles/lms_fc")
@Scripts.Render("~/bundles/moment")

<script>
    $('document').ready(function () {
        settingsObj = @Html.Raw(JsonConvert.SerializeObject(Model.Settings));
        LMSFlashcards();
    });
</script>