@model OtherSquare.ViewModels.NAV_FlashCardViewModel
@using Newtonsoft.Json;

@Html.Partial("_LMSSubMenu")

<div class="area-container">
    <div id="settings">
        @Html.Partial("_LMSFlashcards_Settings", Model.Settings)
    </div>
    <div id="subjects">
        @Html.Partial("_LMSFlashcards_Subjects", Model)
    </div>
    <div id="categories">
        @Html.Partial("_LMSFlashcards_Categories", Model)
    </div>
    <div id="flashcards">
        @Html.Partial("_LMSFlashcards_Flashcards", Model)
    </div>
</div>

@Scripts.Render("~/bundles/lms")
@Scripts.Render("~/bundles/moment")

<script>
    $('document').ready(function () {
        LMS();
        SetNavBreadcrumbs(["LMS", "LMS_Flashcards"]);
        settingsObj = @Html.Raw(JsonConvert.SerializeObject(Model.Settings));
        redirectUrl = "LMS";
    });
</script>