@model OtherSquare.ViewModels.SCF_List
@{
    var createEndpoint = $"{Model.Endpoint}_Create";
    var readEndpoint = $"{Model.Endpoint}_Read";
}

<div class="scf-list-nav">
    <div style="padding:3px 0 0 4px;">@Model.Title</div>
    <button class="createEndpoint" data-endpoint="@createEndpoint">NEW</button>
</div>
<div class="scf-list-head">
    <div>Title</div>
    <div>Score</div>
</div>
<div class="item-list">
    @if (Model.ListItems.Count == 0)
    {
        <div class="scf-list-item">
            <div>No items</div>
        </div>
    }
    else
    {
        foreach (var i in Model.ListItems)
        {
            <div id="@i.Guid" class="scf-list-item" data-endpoint="@readEndpoint" data-guid="@i.Guid">
                <div>@i.Title</div>
                <div style="text-align: right;">@i.Percent<span style="font-size:11px;">%</span></div>
            </div>
        }
    }
</div>

<script>
    $('document').ready(function () { Study(); });
</script>