@model OtherSquare.ViewModels.SubjectViewModel

<div class="study-details">
    <div class="details-header form-area">
        <input id="subjectGuid" type="hidden" value="@Model.Subject.Guid" />
        <label>Subject</label>
        <input id="subjectTitle" type="text" style="margin-top:0;" value="@Model.Subject.Title"/>
        <button id="saveSubject">Save</button>
        <button id="deleteSubject">Delete</button>
    </div>
    <div class="category-section">
        <div class="category-section-nav">
            <div>Categories</div>
            <button id="remove-category" data-category-guid="" disabled>Remove</button>
        </div>
        <div class="category-section-head">
            <div>Title</div>
            <div>Score</div>
            <div></div>
        </div>
        <div class="item-list">
            @if (Model.Subject_Category_ViewModel.ListItems.Count == 0)
            {
                <div class="category-section-list-item" data-category-guid="">
                    <div>No items</div>
                    <div></div>
                </div>
            }
            else
            {
                foreach (var c in Model.Subject_Category_ViewModel.ListItems)
                {
                    <div class="category-section-list-item" data-category-guid="@c.CategoryGuid">
                        <div>Name</div>
                        <div>Score</div>
                    </div>
                }
            }
        </div>
        <div class="category-section-ddl">
            <div>
                Add Category
            </div>
            <select>
                @foreach (var i in Model.Subject_Category_ViewModel.CategoryDDL)
                {
                    <option value="@i.Guid">@i.Title</option>
                }
                @*<option value="-1">--Select--</option>*@
            </select>
        </div>
    </div>
    <div class="flashcard-section">
        <div>Flash Cards</div>
        <div class="flashcard-section-head">
            <div>Title</div>
            <div>Score</div>
        </div>
        <div class="item-list">

        </div>
        <div class="flashcard-section-ddl">
            <div>Category Filter</div>
            <select>
                <option value="Guid">Category</option>
                <option value="Guid">Category</option>
                <option value="Guid">Category</option>
                @foreach (var i in Model.Subject_Category_ViewModel.ListItems)
                {
                    <option value="@i.CategoryGuid">@i.CategoryTitle</option>
                }
            </select>
        </div>
    </div>
</div>

<script>
    $('document').ready(function () { Study(); });
</script>