@model OtherSquare.ViewModels.FlashCard_Index_ViewModel

<div class="study-index">
    <div>
        <div id="SCF_Subjects" class="form-area scf-list">
            @Html.Partial("_SCF_List", @Model.Subjects)
        </div>
        <div id="SCF_Categories" class="form-area scf-list">
            @Html.Partial("_SCF_List", @Model.Categories)
        </div>
        @*<div id="SCF_FlashCards" class="form-area scf-list">
            @Html.Partial("_SCF_List", @Model.FlashCards)
        </div>*@
    </div>
    <div id="detailsView"></div>
</div>

@Scripts.Render("~/bundles/study")

<script>
    $('document').ready(Study());
</script>